html, body, div {
  margin     : 0;
  padding    : 0;
}

html {
  height           : 100%;
  overflow         : hidden;
}

body {
  height     : 100%;
  background : rgba(127, 140, 141,1.0);
}

#gameZone {
  width      : 800px;
  height     : 800px;
  margin     : 0 auto;
  margin-top : 1%;
}

#canvas {
  background : rgba(52, 73, 94,1.0);
}

#localPlayerInfos {
  width      : 100%;
  height     : 50px;
  text-align : center;
  font-size  : 39px;
  color      : rgba(236, 240, 241,1.0);
}

.playersInfos {
  width : 100%;
}

.playerInfos {
  float: left;
  margin-right: 30px;
  padding: 5px;
  font-size: 30px;
  width: 25px;
}
